spring:
  config:
    activate:
      on-profile: prod

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    root: WARN
    org.springframework: WARN
    com.mk.contractservice: INFO
    org.hibernate.SQL: WARN

server:
  error:
    include-message: never
    include-stacktrace: never

